{% extends "base.html" %}
{% block content %}
{% if  user.is_authenticated%}
<h1>Hello, {{user.username}}</h1>

Username: {{ user.username }} <br>
Email: {{ user.email }} <br>
Wins: {{user.profile.user_wins}}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Сохранить изменения</button>
{% else %}
<h1>Sorry, you need to login to see this page</h1>
<h2><a href="{% url "login" %}">Login</a></h2>
{% endif %}
{% endblock content %}