{% extends "base.html" %}
{% block content %}
<h1>Hello, {{user.username}}</h1>

Username: {{ user.username }} <br>
Email: {{ user.email }} <br>
Wins: {{user.profile.user_wins}}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Сохранить изменения</button>
</form>
<br>
<div><a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapse" role="button" aria-controls="multiCollapse">Мои задания</a></div>
<div class="col">
    {% for user_task in user_tasks %}
    <div class="collapse multi-collapse" id="multiCollapse">
      <div class="card card-body">
        <a href="{% url 'CTF:single_task' user_task.id %}">{{ user_task.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}