{% extends "base.html" %}
{% block content %}
{% if user.id == task.author_id %}
<h1>Название: {{ task.title }}</h1>
<h3>Категория: {{ task.category }}</h3>
<p> Описание: {{ task.describtion}} </p>
<p> Файл: <a href="file/">Скачать</a> </p>
<p> Просмотров: {{ views }}</p>
<h4>Вы не можете выполнять своё задание</h4>
<h4><a href="delete_task">Удалить задание</a></h4>
{% elif task_id not in solved_tasks %}
<h1>Название: {{ task.title }}</h1>
<h3>Категория: {{ task.category }}</h3>
<p> Описание: {{ task.describtion}} </p>
<p> Файл: <a href="file/">Скачать</a> </p>
<p> Просмотров: {{ views }}</p>
<form action='flag/'>
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% elif task_id in solved_tasks %}
<h1>Название: {{ task.title }}</h1>
<h3>Категория: {{ task.category }}</h3>
<p> Описание: {{ task.describtion}} </p>
<p> Файл: <a href="file/">Скачать</a> </p>
<p> Просмотров: {{ views }}</p>
<h4>Вы уже выполнили это задание!</h4>
{% endif %}
{% endblock content %}